 <!DOCTYPE HTML>
	<html>
		<head>
			<title>CreateElectromer</title>
		</head>
	
	<body>
		<h3>Add New Electrometer</h3>
		 <FORM action="/?controller=userCreate" method="post">
		<P>
			<LABEL for="id">:Electrometer's name </LABEL><INPUT type="text" id="$id"><BR>
			<LABEL for="dayRateValue">Date Added: </LABEL><INPUT type="text" id="$dayRateValue"><BR>
			<LABEL for="dayRateValue">Day Rate Value: </LABEL><INPUT type="text" id="$dayRateValue"><BR>
			<LABEL for="dayRateValue">Night Rate Value:</LABEL><INPUT type="text" id="$dayRateValue"><BR>		  
			<INPUT type="submit" value="Submit"> <INPUT type="reset">
			</br>
			</br>
			<div style="background:gray; color: blue; width:20px; height:15px;">
			<a href="index.php?controller=createUser">Register</a></div>
		</P>
		 </FORM>
	</body>
 </html>
 