<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		
		<title>Electrometer Adding</title>
		
	</head>
	
		<body>
		
		<section class = "Adding_electrometer">
		
		<h3>Electrometer Registration</h3>
		
		<form action="?controller=addElectrometer" method="post">
			<div id="form_container">
				<div class = "Electrometer_add">
					<div id="username_container">
						<div id="username_label_container"><label for="username_label" id="username_label">Logged Username:</label></div>
						<div id="username_input_container"><input type="text" name="username" id="username" placeholder="to do later"/></div>
					</div>
				</div>
				<div class = "electrometer_name">
					<div id="electrometer_name_container">
						<div id="elctr_label_container"><label for="elctr_name" id="elctr_name_label">Name Electrometer:</label></div>
						<div id="elctr_input_container"><input type="text" name="elctr_name" id="elctr_name" placeholder="input Name"></div>
					</div>
				</div>
				<div id="elctr_date_container">
						<div id="elctr_date_label_container"><label for="elctr_date" id="elctr_date_label"> Date added:</label></div>
						<div id="elctr_date_input_container"><input type="date" name="elctr_date" id="elctr_date"  /></div>
				</div>
				<div id="elctr_status_container">
						<div id="elctr_status_label_container"><label for="elctr_status" id="elctr_status_label"> Status:</label></div>
						<div id="elctr_status_input_container"><input type="text" name="elctr_status" id="elctr_status"  /></div>
				</div>
				
				<div id="submit_container">
					<input type="submit" name="submit" value="Submit"/> 
				</div>		
			</div>
		</form>
		</section>		
					
	</body>
		
</html>